%h2 Upcoming Events
%div
  %h3 A Date Here
  %ol
    %li
      %h4 Hackathon
      %p Abstract: camels are sexy
      %p Possibly more than one sentence. And maybe very long and annoying, wrapping to multiple lines just to fuck with us.
      %p Possibly more than one sentence.

     %li
       %h4 Talk Name, 
         %span Speaker
       %p Abstract: camels are sexy

  %h3 A Date Here
  %ol
    %li
      %h4 FOSDEM,
        %span Funky stuff
      %p Abstract: Ovid's talks attract Pythonistas
  
%h2 Previous Events</h2>
%div
  %h3 10/10/10
  %ol
    %li
      %h4 Talk name, 
        %span Speaker
      %p Abstract: camels are sexy
      %p Possibly more than one sentence.
      %p Possibly more than one sentence.

    %li
      %h4 Talk Name, 
        %span Speaker
      %p Abstract: camels are sexy

  %h3 foo/bar/baz
  %ol
    %li>
      %h4 Talk name, 
        %span Speaker
      %p Abstract: camels are sexy
      %p Possibly more than one sentence.
      %p Possibly more than one sentence.

    %li
      %h4 Talk Name, 
        %span Speaker
      %p Abstract: camels are sexy

  %h3 00-00-0000
  %ol
    %li
      %h4 Talk name, 
        %span Speaker
      %p Abstract: camels are sexy
      %p Possibly more than one sentence.
      %p Possibly more than one sentence.

    %li
      %h4 Talk Name, 
        %span Speaker
      %p Abstract: camels are sexy

