<ul>
  <li[% page == 'home'?' class="current"':'' %]><a href="/">Home</a></li
  ><li[% page == 'events'?' class="current"':'' %]><a href="events.html">Events</a></li
  ><li><a href="#footer">About</a></li>
</ul>
