@import url(http://fonts.googleapis.com/css?family=Crimson+Text) (min-width: 768px);

/*Amsterdam X*/
html, body, form, fieldset, legend, th, td, dt, dd {
  margin: 0;
  padding: 0;
}

nav, main, footer {
  display: block;
}

img {
  vertical-align: bottom;
  border: 0;
}

ul, .numbered {
  margin: 0 0 1.5em 22px;
  padding: 0;
}
ol {
  list-style: none;
  margin: 0;
}

ol li {
  margin-bottom: 1em;
}

p {
  margin: 0 0 .4em 0;
}

a[title]:focus:after { 
  content: ' ' attr(title);
}
a[title]:hover:focus:after { 
  content: '';
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: none;
}

.hidden {
  display: none;
}

.ac {
    position: absolute;
    left: -999em;
    height: 0;
}

/*..................*/
body {
  color: #000;
  font: 110%/130% 'lucida grande',freesans,'dejavu sans',verdana,sans-serif;
  background-color: #bfbfbf;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 100%;
    line-height: 1.3;
  }
}
 
nav ul {
  margin: 0;
  text-align: center;
  background-color: #f00;
}
        nav ul:after {
          content: '';
          display: block;
          clear: both;
          height: 0;
        }
nav li {
  list-style: none;
  display: inline; /*IE staircase*/
}
nav a {
  display: inline-block;
  min-height: 50px;
  margin-left: 1px;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  background-color: #000;
  -moz-transition: .5s background ease;
  -webkit-transition: .5s background ease;
  -o-transition: .5s background ease;
  transition: .5s background ease;
}
        nav li:first-child a {
          margin-left: 0;
        }
        nav a:focus, nav a:hover, nav a.current {
          color: #000;
          background-color: #fff;
        }
  
@media screen and (min-width: 700px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
  }
          nav a {
            width: 20%;
          }
}

.container {
  color: #333;
  background: #e5e5e5;
}
@media screen and (min-width: 700px) {
  .container {
      padding-top: 60px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    position: relative;
    width: 80%;
    max-width: 1440px; /*think of something better*/
    margin: 0 auto;
    background: #e5e5e5 url(img/bg.png) 0 0 repeat;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.container a {
  color: #172;
}
        .container a:focus,
        .container a:hover {
          color: #040;
          text-decoration: none;
        }

#footer a {
  color: #f85d51;
}
        #footer a:focus,
        #footer a:hover {
          color: #ddd;
        }

main, footer {
  padding: 1em 10px;
}
main {
  margin-bottom: 3em;
}
        main>div {
          margin-bottom: 2em;
        }

@media screen and (min-width: 600px) {
  main, footer {
    padding: 4em 20% 10px;
  }
  footer {
    padding-top: 1em;
    padding-bottom: 3em;
  }
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Crimson Text','palatino linotype','urw paladio l','palatino','hoefler text', serif;
  line-height: 1.3;
}

h1 {
  position: relative;
  min-height: 100px;
  padding-left: 25px;
  line-height: 90px;
  background: url(img/hartje.png) 0 0 no-repeat;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3em;
    min-height: 0;
    padding-left: 0;
    line-height: 1.3;
    background: none;
  }
  h1:before {
    content: '';
    position: absolute;
    left: -95px;
    top: -.3em;
    width: 96px;
    height: 84px;
    background: url(img/hartje.png) 0 0 no-repeat;
  }
}

h2 {
  margin-bottom: .2em;
  font-size: 1.8em;
}

h3 {
  margin-bottom: .2em;
  font-size: 1.4em;
}

h4 {
  margin-bottom: .2em;
  font-size: 1.2em;
}

/*events*/
dl ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
        dt {
          clear: left;
          float: left;
          min-width: 5em;
          margin-bottom: 1em;
          font-weight: bold;
        }
        dd {
          margin: 0 0 1em 5em;
        }
                dd li {
                  margin-bottom: 1em;
                }
                dd h4 {
                  font: normal 1.2em 'lucida grande',freesans,'dejavu sans',verdana,sans-serif;
                }
                dd p {
                  margin-bottom: .2em;
                }  

footer {
  color: #fff;
  background-color: #504F4F;
}
        footer li {
          list-style: circle;
        }

#toTop {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 64px;
  margin-left: 20px;
  padding: 12px 4px 10px;
  color: #333;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 -1px 1px rgba(51, 51, 51, 0.3);
  opacity: 0;
  -moz-transition: .5s opacity ease;
  -webkit-transition: .5s opacity ease;
  -o-transition: .5s opacity ease;
  transition: .5s opacity ease;
}
        #toTop.appear {
            opacity: 1;
        } 
        #toTop:focus {
          color: #172;
          box-shadow: 0 0px 5px rgba(17, 119, 34, 0.6);
          opacity: 1;
        }
        #toTop:focus:hover {
          color: #333;
          box-shadow: none;
        }
