<h2><a href="https://twitter.com/AmsterdamXpm" target="_blank">About AmsterdamX.pm</a></h2>
  <p><a href="https://twitter.com/AmsterdamXpm" target="_blank">AmsterdamX.pm</a> (Amsterdam e<strong>X</strong>pats Perl Mongers) is a new Perl Mongers group whose purpose is to optimize for expats. The major differences from <a href="http://perl.nl/amsterdam/">Amsterdam.pm</a> are:</p>
  <ul>
    <li>use English; We might speak more than 50 languages, but we commonly speak only one.</li>
    <li>Meeting early: we meet at 18:30, so you can come straight from work instead of having a long buffer time to the meeting.</li>
    <li>Held at Booking.com (<a href="https://www.google.com/maps/preview#!q=Herengracht+597%2C+1017CE+Grachtengordel-Zuid%2C+Amsterdam%2C+The+Netherlands&data=!4m11!1m10!2i23!4m8!1m3!1d23194967!2d-95.677068!3d37.0625!3m2!1i1228!2i683!4f13.1">location</a>), where most Perl expats in Amsterdam already work.</li>
  </ul>
  <p>This isn't instead of Amsterdam.pm, but to provide an additional group. It is not meant to replace, but to supplement. There is no affiliation between Amsterdam.pm and AmsterdamX.pm.</p>
  <p><a href="https://twitter.com/AmsterdamXpm" target="_blank">Follow us on twitter</a></p>
