%h2 Previous Events
%div
  %h3 September 30th, 2014
  %ol
    %li
      %h4
        %span Rafaël Garcia-Suarez (rgs)
        :: De anatomische les van Dr. RGS
      %p Watch a Perl 5 patch being written, as if you were in the perl5-porter's brain!
    %li
      %h4
        %span Ingy döt Net
        :: Surprise talk
      %p (written after the meeting) Ingy joined in and talked about awesome stuff he's been working on
    %li
      %h4
        %span Karen Pauly
        :: The Perl Foundation (TPF)
      %p Karen, the president of The Perl Foundation (TPF), will talk to us a bit about TPF.
  %h3 July 29th, 2014
  %ol
    %li
      %h4
        %span Yves Orton (demerphq)
        :: Breaking Perls Old Hash Function
      %p Yves will talk about the hash randomization in the perl core, or phrased differently: Key Discovery Attack on Bob Jenkins One-At-A-Time Hash (as used in earlier perls).
      %p Yves will explain the mechanism, the weakness, and how it was solved in modern versions of the perl interpreter.
    %li
      %h4
        %span Abigail
        :: Releasing perl
      %p For many years, perl releases were infrequent, with a single person (the "pumpking") responsible for several subsequent releases.
      %p This has changed in the last years, and perl is released on a frequent schedule, with many people ("release managers") taking turns and making a release of perl. In this talk, we will look at what it takes to make a perl release, and show that "everyone" is able to become a release manager.
      %p Abigail can speak from personal experiences, having released perl twice before. Abigail is also the acting release manager, and will do a release at the end of July 2014.
  %h3 May 27th, 2014
  %ol
    %li
      %h4
        %span H.Merijn Brand
        :: CSV looked at with an end-user view
      %ul
        %li New functionality
        %li RFC 7111
        %li Callbacks and hooks
        %li Parse CSV safe without writing object-oriented loops
    %li
      %h4
        %span Simon Bertrang
        :: Stylesheet Compression for Fun and Profit
      %p CSS::Compressor is a pure Perl implementation of the CSS compression parts of Yahoo!'s YUIcompressor.
      %p This talk is about motivation, insights, benefits and more, including facts and numbers from production.
    %li
      %h4
        %span Mickey Nasriachi
        :: MetaCPAN::API is dead!
      %p MetaCPAN::Client provides the official interface to MetaCPAN's abundance of features and introspection.
      %p Reading the documentation is boring, come to my talk instead!
  %h3 January 28th, 2014
  %ol
    %li
      %h4
        %span Philippe Bruhat (BooK)
        :: Programming Slides
      %p Every time I write slides I want something different, and each time the tool I used previously does not quite fit the next talk. After having used plain HTML, Magic Point, S5, LibreOffice Impress, and PDF::API2, I'm probably settling on PostScript for some time.
    %li
      %h4
        %span Sawyer X
        :: Perl and the Web - A Love Story
      %p In the beginning of the great kingdom of the Internet, there was one ruler: Perl. With time, fallen from grace, the beautiful princess language lost its place on the throne, giving way to Ruby, Python, and to the dismay and horror of everyone in the kingdom, PHP.
      %p But all is not lost. While underground, Perl has schemed a plot to overthrow the competitors. That plan is Plack/PSGI.
