<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[% page == 'events' ? 'Events - AmsterdamX.pm' : 'AmsterdamX.pm (Perl Mongers group)' %]</title>
    <link rel="stylesheet" media="screen, projection, handheld" href="css.css">
    <meta name="description" content="Community of English speaking Perl developers in Amsterdam.">
    <meta name="keywords" content="perl,amsterdam,amsterdam.pm,amsterdamx.pm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--[if lte IE 8]>
      <script>
        var list='footer,main,nav'.split(','),
            el;
        while(el=list.pop()){
            document.createElement(el);
        }
      </script>
    <![endif]-->
    <!-- still need: under IE9 stylesheet, print stylesheet -->
  </head>
  <body>
    <nav id="top" tabindex="-1">
        [% INCLUDE menu.tt %]
    </nav>
    <div class="container">
      <main>
        [% content %]
      </main>
      <footer id="footer" role="contentinfo" tabindex="-1">
        [% INCLUDE about.tt %]
      </footer>
    </div>
    <script src="js.js"></script>
  </body>
</html>
